.List-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.List-holder .btn,
.List-holder .btn-dark {
  color: #ffffff;
  padding: 5px 20px;
  font-size: 14px;
  border-radius: 4px;
  font-weight: 400;
  display: flex;

  width: max-content;
  margin: 0 10px;
  cursor: pointer;
  border: 1px solid rgba(201, 198, 198, 0.2);
  background: rgb(231, 228, 228);
}
.List-holder .btn-dark {
  background-color: var(--black);
}
.List-holder .flex-line {
  display: flex;
  gap: 5px;
}
.List-holder .cards {
  /* display: flex;
    flex-wrap: wrap; */
  list-style: none;
  margin: 0;
  gap: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0;
}
.flex-line span {
  color: rgb(160, 149, 149);
}
.List-holder .card-user-dark,
.List-holder .card-user {
  color: var(--black);
  width: 100%;
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
}
.List-holder .card-user-dark {
  color: rgb(160, 149, 149);
}
.List-holder img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.List-holder .card-user img {
  width: 30px;
  height: 30px;
  margin-top: -10px;
}
.List-holder .btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.List-holder .cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .List-holder .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .List-holder .cards_item {
    width: 33.3333%;
  }
}
.List-holder .List-holder {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.List-holder .card,
.List-holder .card-dark {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  display: flex;
  width: 320px;
  flex-direction: column;
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 18px;
  color: var(--black);
  background-color: white;
}
.List-holder .card-dark {
  background-color: var(--black);
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.25);
}
.List-holder .card_content-dark,
.List-holder .card_content {
  padding: 1rem 0;
  /* background: linear-gradient(to bottom left, #ef8d9c 40%, #ffc39e 100%); */
}
.List-holder .card_content-dark {
  color: var(--darkGray);
}
.List-owner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.List-holder .card_title {
  color: var(--black);
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}
.flex-line span {
  color: rgb(160, 149, 149);
}

.List-holder .card_text,
.List-holder .card_text-dark {
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  padding: 0 20px;
  justify-content: space-between;
  font-weight: 400;
  display: flex;
}
.List-holder .card_text-dark {
  color: var(--lighterGray);
}
