.record-step1 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.record-templet {
  display: flex;
  border: 1px solid var(--textGray);
  border-radius: 7px;
  flex-direction: column;
  gap: 10px;
  width: 200px;
  padding: 10px;
}
.record-templet .head {
  display: flex;
  flex-direction: row;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--textGary);
}
.record-templet .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--textGray);
  padding: 5px;
  border-radius: 7px;
}
.record-templet .btn {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  align-items: center;
  color: gray;
  gap: 10px;
  justify-content: center;
  background-color: var(--black);
}
