/**********************final step stylesl*****************************/
.finalStep {
  padding: 40px 100px;
}
/**********************second step styles*****************************/
.div-inside input {
  border: 1px solid rgb(41, 40, 40) !important;
  border-radius: 5px;
  height: 26px !important;
  padding: 0 5px;
  border: none !important;
  color: #c2c2c2 !important;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
.dev-inside input:focus {
  border: none !important;
}
.ant-input:focus {
  border: none !important;
  box-shadow: none !important;
}
.div-inside:last-child {
  background-color: transparent !important;
}
.div-inside div {
  padding: 2px 5px !important;
  cursor: pointer;
}
.isDark .div-inside div {
  color: #c2c2c2 !important;
  background-color: rgb(41, 40, 40) !important;
}
.input-row-dark .input-rg-dark {
  border-radius: 0px !important;
}
.isDark input {
  background-color: rgb(41, 40, 40) !important;
}

.react-responsive-modal-modal {
  border: 1px solid transparent !important;

  border-radius: 10px !important;
}

.input-row,
.input-row-dark {
  display: flex;
  width: 100%;
  height: auto;
  border-left: 1px solid var(--lightGray);
  border-right: 1px solid var(--lightGray);
  flex-direction: row;
}
.input-row-dark {
  border: none;
  background-color: #353535;
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 5px;
  align-items: center;
}
.record,
.record-dark {
  width: 100%;
  display: grid;
  padding: 5px 20px;
  border: 1px solid var(--lightGray);
  cursor: pointer;
  gap: 10px;
  background-color: white;
  grid-template-columns: 1fr 1fr 1fr 1fr auto;
}
.record:focus,
.record-dark:focus {
  outline: none;
  box-shadow: 0px 0px 0px 1px var(--cyan) inset;
  background-color: rgba(1, 197, 197, 0.25);
}

.react-responsive-modal-modal {
  background-color: transparent;
  padding: 10px 0 !important;
  max-width: max-content;
}
.record-dark {
  color: var(--darkGray);
  background-color: var(--black);
  border: 1px solid rgb(44, 43, 43);
}

.record-step1 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.templetPopup,
.templetPopup-dark {
  padding: 60px;
  border-radius: 10px;
  width: max-content;
  background-color: white;
}
.templetPopup-dark {
  background-color: var(--black);
  border: 1px solid var(--secDark);
}
.record-templet {
  display: flex;
  border: 1px solid var(--textGray);
  border-radius: 7px;
  flex-direction: column;
  gap: 10px;
  width: 200px;
  padding: 10px;
}
.record-templet .head {
  display: flex;
  flex-direction: row;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--textGary);
}
.record-templet .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--textGray);
  padding: 5px;
  border-radius: 7px;
}
.record-templet .btn {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  align-items: center;
  color: gray;
  gap: 10px;
  justify-content: center;
  background-color: var(--yellow);
}
