/**********************final step stylesl*****************************/
.finalStep {
  padding: 40px 100px;
}
/**********************second step styles*****************************/
.div-inside input {
  border: 1px solid rgb(41, 40, 40) !important;
  border-radius: 5px;
  height: 26px !important;
  padding: 0 5px;
  border: none !important;
  color: #c2c2c2 !important;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
.dev-inside input:focus {
  border: none !important;
}
.ant-input:focus {
  border: none !important;
  box-shadow: none !important;
}
.div-inside:last-child {
  background-color: transparent !important;
}
.div-inside div {
  padding: 2px 5px !important;
  cursor: pointer;
}
.isDark .div-inside div {
  color: #c2c2c2 !important;
  background-color: rgb(41, 40, 40) !important;
}
.input-row-dark .input-rg-dark {
  border-radius: 0px !important;
}
.isDark input {
  background-color: rgb(41, 40, 40) !important;
}
.record-items,
.record-items-dark {
  width: 100%;
  text-align: left;
  background-color: white;
  border-radius: 16px 16px 0 0;
  outline: none;
}
.record-items-dark {
  background-color: var(--black);
  border: 1px solid #353535;
}
.record-head,
.record-head-dark {
  width: 100%;
  padding: 5px;
  display: grid;
  padding: 20px;
  border-radius: 16px 16px 0 0;
  text-align: left;
  font-size: 15px;
  text-transform: capitalize;
  background-color: var(--lightGray);
  grid-template-columns: 1fr 1fr 1fr 1fr auto;
}
.record-head-dark {
  color: var(--darkGray);
  background-color: rgb(44, 43, 43) !important;
}
.tag,
.tag-dark {
  width: max-content;
  padding: 0.5px 2px;
  border-radius: 5px;
}
.tag-dark {
  background-color: #353535 !important;
  color: var(--ligherGray) !important;
}
.green {
  background-color: var(--LightGreen);
  color: rgb(26, 150, 26);
}
.org {
  background-color: var(--lightOrange);
  color: var(--orange);
}
.react-responsive-modal-modal {
  border: 1px solid transparent !important;

  border-radius: 10px !important;
}

.input-row,
.input-row-dark {
  display: flex;
  width: 100%;
  height: auto;
  background-color: white;
  flex-direction: row;
}
.input-row-dark {
  background-color: #353535;
}
.flex-row {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.record-icon {
  display: flex;
  flex-direction: column;
  color: var(--textGray);
  gap: 1px;
  font-size: 10px;
  margin-top: 6px;
}

.record,
.record-dark {
  width: 100%;
  display: grid;
  padding: 5px 20px;
  border: 1px solid var(--lightGray);
  cursor: pointer;
  gap: 10px;
  background-color: white;
  grid-template-columns: 1fr 1fr 1fr 1fr auto;
}
.record:focus,
.record-dark:focus {
  outline: none;
  box-shadow: 0px 0px 0px 1px var(--cyan) inset;
  background-color: rgba(1, 197, 197, 0.25);
}

.record-tab,
.record-tab-dark {
  width: 100%;
  display: grid;
  padding: 5px 20px;
  border: 1px solid var(--lightGray);
  cursor: pointer;
  gap: 10px;
  background-color: white;
  grid-template-columns: 1fr 1fr 1fr 1fr auto;
}
.record-tab-dark:first-child,
.record-tab:first-child {
  border-radius: 16px 16px 0 0;
}
.record-tab-dark {
  color: gray;
  background-color: var(--black);
  border: 1px solid rgb(44, 43, 43);
}
.record-tab:focus,
.record-tab-dark:focus {
  outline: none;
  box-shadow: 0px 0px 0px 1px var(--cyan) inset;
  background-color: rgba(1, 197, 197, 0.25);
}

.react-responsive-modal-modal {
  background-color: transparent;
  padding: 10px 0 !important;
  max-width: max-content;
}
.record-dark {
  color: var(--darkGray);
  background-color: var(--black);
  border: 1px solid rgb(44, 43, 43);
}

.record-step1 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.templetPopup,
.templetPopup-dark {
  padding: 60px;
  border-radius: 10px;
  width: max-content;
  background-color: white;
}
.templetPopup-dark {
  background-color: var(--black);
  border: 1px solid var(--secDark);
}
.record-templet {
  display: flex;
  border: 1px solid var(--textGray);
  border-radius: 7px;
  flex-direction: column;
  gap: 10px;
  width: 200px;
  padding: 10px;
}
.record-templet .head {
  display: flex;
  flex-direction: row;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--textGary);
}
.record-templet .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--textGray);
  padding: 5px;
  border-radius: 7px;
}
.record-templet .btn {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  align-items: center;
  color: gray;
  gap: 10px;
  justify-content: center;
  background-color: var(--yellow);
}
