.CustomPageWrapper {
  display: flex;
  flex-direction: row;
}
.widget-space {
  height: 3%;
}
/*shared button style*/
.PageContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 35px;
}

.PageBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 17px;
  width: 100%;
}

.ButtonGroup {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  /*margin-right: ${(props) => (props.space ? "10px" : "0")};*/
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: 1px solid transparent !important;
}
.input-rg,
.input-rg-dark {
  background-color: transparent !important;
  border: 1px solid var(--textGray) !important;
  height: 30px;
  border-radius: 7px !important;
  width: 100% !important;
}
.borderLess {
  border: none !important;
}
.input-rg-dark {
  border: none !important;
  color: var(--darkGray) !important;
  background: #353535 !important;
}
.isDark .ant-select-selector {
  border: none !important;
  color: var(--black) !important;
  background: #353535 !important;
}
.isDark .rc-virtual-list-holder-inner,
.isDark .ant-select-item,
.isDark .ant-select-item-option,
.isDark .ant-select-item-option-active {
  border: none !important;
  color: var(--black) !important;
  background: #353535 !important;
}

.PageBtn {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  margin-bottom: 17px;
  width: 100%;
}
.PageContentFix {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 25px;
  margin-left: 50px;

  margin-right: 35px;
}
.PageTitle {
  color: var(--yellow);
  font-size: 30px;
  font-weight: bold;
  padding: 10px 0;
}
/*table style in dark mode*/

.isDark .ant-table {
  color: white !important ;
  background-color: var(--black) !important;
}
.ProfileImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid var(--cyan);
  display: flex;
  align-items: center;
  background-position: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  justify-content: center;
  background-image: url("../../../public/images/0.png");
  font-size: 25px;
  margin-bottom: 15px;
  position: relative;
  color: var(--cyan);
  position: relative;
}
.camra-icon {
  position: absolute;
  right: 0px;
  bottom: 0px;
  color: var(--yellow);
}
.isDark .ant-table-thead > tr > th {
  color: white !important ;
  background-color: #353535 !important;
  border: 1px solid #353535 !important;
}
.isDark .ant-table-tbody > tr > td {
  border-bottom: 1px solid #353535 !important;
}
.isDark .ant-table-container {
  border: 1px solid #353535 !important;
}
.isDark .ant-tag {
  background-color: #353535 !important;
  color: var(--ligherGray) !important;
}
.isDark .ant-checkbox-inner {
  background-color: #353535 !important;
}
.isDark .ant-switch-small {
  background-color: var(--yellow) !important;
}
