.Pagination,
.Pagination-dark {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  align-items: center;
  color: var(--darkGray);
  border: 1px solid var(--lightGray);
  border-radius: 0 0 16px 16px;
  border-top: none;
  width: 100%;
  background-color: white;
}
.Pagination-dark {
  border-color: #353535;
  background-color: black;
}
.PageText {
  color: var(--darkGray);
  margin-top: 12px;
}
.pageNum {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 12px;
}
.IconCss {
  color: var(--textGray);
}
.activeIcon {
  color: var(--cyan);
}
.noborder {
  border: none;
}
