.SideWarpper,
.SideWarpper-dark {
  width: 87px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--yellow);
}

.SideWarpper-dark {
  background-color: var(--black) !important;
}
.NotifiHeader,
.NotifiHeader-dark {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;

  font-size: 20px;
  font-weight: 400;
  align-items: center;
  cursor: unset;
}
.NotifiHeader-dark {
  color: var(--darkGray);
}
.SideItem,
.SideItem-ar {
  position: relative;
  padding: 1.5vh 25px;
  width: 100%;
  margin-bottom: 0.5rem;
  font-size: 35px;
  display: flex;
  color: var(--gray);
  /*   color: ${(props) => (props.isSelected ? "var(--cyan);" : "var(--gray);")};*/
  justify-content: center;
  align-items: center;
}
.SideItem-Active {
  border-left: 3px solid var(--cyan);
}
.SideItem:hover {
  color: var(--cyan);
  border-left: 3px solid var(--cyan);
}
.SideItem-ar:hover {
  border-right: 3px solid var(--cyan);
  color: var(--cyan);
}
.SideItem :hover {
  color: var(--cyan);
}
.UserImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.Active {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  position: absolute;
  bottom: 14px;
  right: 30%;
  border: 2px solid var(--yellow);
  background-color: var(--RayGreen);
}

.Logo {
  width: auto;
  height: 55px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 0 10px;
}
