.cell-img {
  width: 40px;
  height: 40px;
}
.ant-table-container {
  border: 1px solid #bdbcbc !important;
  border-radius: 10px 10px 0 0 !important;
  border-bottom: none !important;
}
th:first-child {
  border-radius: 10px 0 0 0 !important;
}
th:last-child {
  border-radius: 0 10px 0 0 !important;
}
