.ProfileContetn,
.ProfileContetn-dark {
  margin: 15px 30%;
  border-radius: 6px;
  height: 700px;
  background-color: white;
  width: max-content;
  padding: 40px 60px;
  height: max-content;
}
.ProfileContetn-dark {
  color: var(--darkGray);
  background-color: rgb(24, 23, 23);
}
.ProfileHead {
  width: 100%;
}
.PageBack {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 15px;
  padding-bottom: 5px;
  color: var(--lighterGray);
  align-items: center;
  cursor: pointer;
}
.PageTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
  font-weight: bold;
}
.InputLable {
  display: grid;
  grid-template-columns: 100px 300px;
  text-align: right;
  gap: 15px;
  margin: 10px 0;
}
.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
}
.Space {
  margin-bottom: 25px;
}
.DeleteAccount {
  display: flex;
  gap: 5px;
  margin-top: 40px;
  align-items: center;
  justify-content: centen;
}
