.setting-page li {
  margin: 10px;
}
.scroll {
  color: red;
}
.ant-switch-checked {
  background-color: var(--yellow) !important;
}
.widget-title {
  font-size: 17px;
  display: flex;
  gap: 10px;
}
.widget-item {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 400px;
  justify-content: flex-start;
  padding: 10px 0;
}

.widget-item .input,
.widget-item .input-dark {
  border: none;
  border-bottom: 1px solid var(--yellow);
}
.widget-item .input-dark {
  color: white;
  background-color: var(--black);
}
.store {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sugges-icon {
  display: flex;
  gap: 10px;
  font-size: 17px;
  padding: 10px 0;
}
